<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meowlo | Products | Games</title>
    <link rel="icon" href="/img/meowlo-favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products.css">
    <script defer src="/js/meowmory.js"></script>
    <script defer src="/js/hangman.js"></script>
    <script defer src="/js/meow.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <!--products pages button-->
        {{>products}}

      {{!-- Meowmory Game --}}
      <section id="meowmory" class="meowmory-bg">
        <h1>Meowmory Game</h1>
        

        <div class="game-container">
            <!-- Overlay  -->
            <div class="overlay-text visible">
                Let's begin! &#128516;
            </div>
            <div id="game-over-text" class="overlay-text">
                Aww &#128556;
            <button class="button">Restart</button>
            </div>
            <div id="victory-text" class="overlay-text">
                Yeah! &#129392;
            <button class="button">Restart</button>
            </div>
        <!-- Game info -->
            <div class="game-info-container">
              <h2>
                Time <span id="time-remaining">60</span>
              </h2>
              <h2>
                Flips <span id="flips">0</span>
              </h2>
            </div>
            <!-- Cards -->
            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/bell.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/bell.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/candy.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/candy.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/gingerbreadman.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/gingerbreadman.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/reindeer.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/reindeer.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/snow.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/snow.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/sock.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/sock.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/star.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/star.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/tree.svg">
              </div>
            </div>

            <div class="card">
                <div class="card-back card-face">
                    <img class="meowface" src="/img/meowface.svg">
                </div>
              <div class="card-front card-face">
                <img class="card-value" src="/img/tree.svg">
              </div>
            </div>
            
          </div>

    </section>

    <!--The Hangman Game-->
        <section id="hangman" class="hangman">
            <div class="hangman__info">
                <h1>The Hangman Game</h1>
                <p>Press your paws on keyboard to make a guess!</p>
                <p>Sorry this game won't work on mobile. Switch to desktop to play!</p>
            </div>

            <div class="wrapper">
                <div id="hangman-word" class="puzzle"></div>
                <div id ="hangman-status"></div>
                <button id="reset" class="button">Reset</button>
            </div>
        </section i>
 
    <!--The Meow Song Maker-->
      <section id="meowsong" class="meow">
        <div class="meow__info">
          <h1>The Meow Song Maker</h1>
          <h3>Tap your paws to make a kitty song!</h3>
        </div>

        <div class="meow-balls"></div>

        <div class="keys">
          <div class="key1">
            <audio src="/sounds/meow1.mp3" class="sound"></audio>
          </div>
          <div class="key2">
            <audio src="/sounds/meow2.mp3" class="sound"></audio>
          </div>
          <div class="key3">
            <audio src="/sounds/meow3.mp3" class="sound"></audio>
          </div>
          <div class="key4">
            <audio src="/sounds/meow4.mp3" class="sound"></audio>
          </div>
          <div class="key5">
            <audio src="/sounds/meow5.mp3" class="sound"></audio>
          </div>
        </div>
      </section>

    {{>footer}}
    
</body>
</html>