<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meowlo | Products | Tools</title>
    <link rel="icon" href="/img/meowlo-favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tools.css">
    <script defer src="/js/uuidv4.js"></script>
    <script defer src="/js/todo.js"></script>
    <script defer src="/js/clock.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <!--products pages button-->
        {{>products}}
    <!--The browser-based to-do list-->
        <section>
            <div class="todo">
                <h1>Browser-based To-do List</h1>
                <p>Write your to-do list, nobody else will see those but you (unless you share devices with others!) as this will be saved in your browser only.</p>
                <div class="actions">
                    <input id ="search-text" class="input" type="text" placeholder="search your todo">
                    <label class="checkbox">
                        <input id="hide-completed" type="checkbox">Hide Completed Tasks
                    </label>
                </div>

                <div id="todos"></div>
                <form id="new-todo">
                    <input id="input-text" class="input" type="text" placeholder="type a new list for todos" name="text">
                    <button id="todo-button" class="button" type="submit">Add new item</button>
                </form>
            </div>
        </section>

    <!--Meowlo Clock -->
    <section id="meowlo-clock"class="meowlo-clock">
        <div class="clock">
        <div class="hand hour" data-hour-hand></div>
        <div class="hand minute" data-minute-hand></div>
        <div class="hand second" data-second-hand></div>
        <div class="number number1">1</div>
        <div class="number number2">2</div>
        <div class="number number3">3</div>
        <div class="number number4">4</div>
        <div class="number number5">5</div>
        <div class="number number6">6</div>
        <div class="number number7">7</div>
        <div class="number number8">8</div>
        <div class="number number9">9</div>
        <div class="number number10">10</div>
        <div class="number number11">11</div>
        <div class="number number12">12</div>
    </div>
    </section>

    {{>footer}}
    
</body>
</html>