<!--products pages-->
<div class="product-buttons">
    <a href="/products"><div class="button">GAMES</div></a>
    <a href="/products/tools"><div class="button">TOOLS</div></a>
    <a href="/products/chat-login"><div class="button">CHAT</div></a>
</div>